@use 'variables.module';

.footer {
  box-sizing: border-box;
  padding: 1rem;
  font-size: .75rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin: .5rem 0 0;

    &:last-child {
      margin: .5rem 0;
    }
  }
}

.social-link {
  color: inherit;
  font-size: 1.5rem;
}

.separator {
  align-self: stretch;
  border-top: 1px solid;
}
