@use '../components/variables.module';

.section {
  margin: 2rem 0;

  display: grid;
  grid-template-areas: "cell";
  align-items: center;
}

.submitted-state-message {
  grid-area: cell;
  place-self: center;
  color: variables.$message-color;
}

.form {
  grid-area: cell;
  display: grid;
  row-gap: 1.5rem;
  justify-items: start;

  :global(.MuiInputLabel-outlined) {
    z-index: 0;
  }
}

.message {
  justify-self: stretch;
}
