@use './variables.module';

$fixe-header-height: 4.75rem;

@use '~hamburgers/_sass/hamburgers/hamburgers' with (
  $hamburger-types: (collapse),
  $hamburger-layer-color: variables.$default-foreground-color,
  $hamburger-layer-width: 1.5rem,
  $hamburger-layer-height: 2px
);

.header {
  margin: $fixe-header-height 0 0;
  align-self: stretch;

  h2 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
    text-align: center;
    font-style: italic;
  }
}

.backgroundLayer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: variables.$root-background-color;
  z-index: 2;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: variables.$root-background-color;

  &.overlay {
    background: variables.$overlay-background-top;
  }

  display: flex;

  h1 {
    z-index: 1;
    flex: auto;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;
    color: variables.$text-color;
    padding: 1.5rem 0;
    text-transform: uppercase;
    margin: 0 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  button {
    outline: none;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: $fixe-header-height 0 0;
    height: 18rem;
    border-radius: 0 0 0 10rem;
    background-color: variables.$root-background-color;

    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      font-weight: bolder;
      padding: 0;
      margin: 0 20% 0 0;
    }

    li {
      line-height: 3rem;
      font-size: 1rem;
    }

    a {
      display: block;
      height: 100%;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      margin: 0 0 0 1rem;

      &:hover {
        color: variables.$text-color;
      }
    }
  }
}
