@use 'variables.module';

.header {
  margin: 12.25rem 0 0; // height of fixed header
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: variables.$root-background-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  h1 {
    font-size: 3rem;
    padding: 1.5rem 0;
    text-transform: uppercase;
    margin: 0;
    color: variables.$text-color;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  h2 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    margin: 0;
    font-style: italic;
  }

  ul {
    margin: 1.5rem 0;
  }

  &.collapsed {
    flex-direction: row;
    justify-content: center;
    background-color: darken(variables.$root-background-color, 2%);
    box-shadow: 0 1px 30px -20px lighten(variables.$root-background-color, 30%);

    h1 {
      font-size: 2rem;
      padding: 1rem 0;
    }

    h2 {
      visibility: hidden;
      width: 0;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bolder;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    margin: 0 0 0 1rem;

    &:hover {
      color: variables.$text-color;
    }

    &.active-page {
      border-bottom: solid 2px;
    }
  }
}
