@use 'variables.module';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: variables.$root-background-color;
}

.container {
  min-height: 100vh;
  width: 100%;
  color: variables.$default-foreground-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .header {
    flex: none;
  }

  .footer {
    flex: none;
  }

  &.overlay {
    z-index: 1;
  }
}

.main {
  flex: none;
  padding: 0 1rem;

  &.overlay-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
}
