@use './variables.module';

.small-field {
  width: 20rem;

  :global(.MuiOutlinedInput-input:-webkit-autofill) {
    caret-color: variables.$default-foreground-color;
    border-radius: inherit;
    box-shadow: 0 0 0 100px variables.$overlay-background-color inset;
    -webkit-text-fill-color: variables.$default-foreground-color;
  }
}
