@use '../components/variables.module';

.year {
  text-align: right;
  border-bottom: 1px solid;
  padding: 0 0 .5rem;
}

.nodes {
  padding: 1rem .25rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: start;
  align-content: start;
  grid-template-columns: repeat(3, 320px);
}

@media (max-width: 1056px /* 320px * 3 + 2rem * 2 + 1rem * 2 */) {
  .nodes {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (max-width: 704px /* 320px * 2 + 2rem * 1 + 1rem * 2 */) {
  .nodes {
    grid-template-columns: 320px;
  }
}

.node {
  background-color: lighten(variables.$base-color, 10%);

  h2 {
    padding: 1rem;
    margin: 0;
    font-size: 1.15rem;
    font-weight: 300;
  }
}

.link-collage {
  display: inline-block;
  color: inherit;
  cursor: pointer;
  opacity: 1;
}
