@use '../components/variables.module';

.section {
  max-width: 680px;

  h5 {
    text-align: right;
  }

  p {
    font-size: .875rem;
    line-height: 1.55;
  }

  blockquote {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: variables.$message-color;
    font-style: italic;
    margin: 2rem 0;
  }

  h4 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: variables.$message-color;
    font-style: italic;
  }
}

.image-placeholder {
  display: inline-block;
  width: 302px;
  float: left;
  margin: 0 2rem 1rem 0;
}

@media (max-width: 500px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .image-placeholder {
    margin: 1rem 0;
    align-self: center;
  }
}
