@import 'variables';

.header {
  margin: 1rem;

  h1 {
    text-align: center;
    line-height: 6rem;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    color: $text-color;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  h2 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-style: italic;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bolder;

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    margin: 0 1rem;

    &:hover {
      color: $text-color;
    }

    &.active-page {
      border-bottom: solid 2px;
    }
  }
}
