@import 'variables';

body {
  font-family: 'Quicksand', sans-serif;
  background-color: $root-background-color;
}

.container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  color: $default-foreground-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .header {
    flex: none;
  }

  .main {
    flex: none;
  }

  .footer {
    flex: none;
  }

  &.overlay {
    height: 100%;
    display: block;

    .header {
      position: absolute;
      top: 0;
      z-index: 1;
    }

    .main {
      height: 100%;
    }

    .footer {
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }
}
